body{
  width: 100%;
  height: 10%;
  background-color: white;
}
.nav{
  margin-top: 2.5%;
  width: 100%;
  height: 20%;
  background: rgb(5,0,89);
  box-shadow: 0px 10px 28px 3px rgba(46,46,46,0.31);
  -webkit-box-shadow: 0px 10px 28px 3px rgba(46,46,46,0.31);
  -moz-box-shadow: 0px 10px 28px 3px rgba(46,46,46,0.31);
  background: linear-gradient(342deg, rgba(5,0,89,1) 0%, rgba(9,9,121,1) 76%, rgba(0,165,199,1) 100%);
}
.tamanio{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;

}
.logo{
  width: 70px;
  border-radius: 10px;
  margin: 5px;
}
h1{
  color: white;
}
.etiqueta{
  font-size: 20px;
  padding: 4%;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  color: white;
  border-radius: 3px;
}
.carrito{
  width: 2%;
}
.links a:hover{
  background-color: aliceblue;
  color: rgb(0, 71, 129);
  border-radius: 6px;
  box-shadow: 0px 0px 64px -5px rgba(50,156,212,0.47);
-webkit-box-shadow: 0px 0px 64px -5px rgba(50,156,212,0.47);
-moz-box-shadow: 0px 0px 64px -5px rgba(50,156,212,0.47);
  transition: ease 0.3s;
}
img{
  border-radius: 20px 20px 0 0;
  background-color: white;
}
