.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 30vh;
    background-color: rgb(234, 234, 234);
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgba(46,46,46,0.31);
    -webkit-box-shadow: 0px 0px 28px 0px rgba(46,46,46,0.31);
    -moz-box-shadow: 0px 10px 28px 3px rgba(46,46,46,0.31);

}
.image{
    height: 30vh;
    width: 30vh;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
}

.restar{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 0.5px;
    border-color: rgba(255, 0, 0, 0.574);
    margin: auto;
    color: rgba(255, 0, 0, 0.574);
    transition: all 0.17s;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    margin: auto;
}
.restar:hover{
    background-color: rgba(255, 0, 0, 0.574);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.17s;
}

.aumentar{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 0.5px;
    border-color: rgba(47, 255, 99, 0.781);
    margin: auto;
    color: rgba(47, 255, 99, 0.781);
    transition: all 0.17s;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    margin: auto;
}
.aumentar:hover{
    background-color: rgba(47, 255, 99, 0.781);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.17s;
}

.add{
    width: 150px;  
    height: 40px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(4, 86, 201, 0.767);
    margin-top: 10px;
    background-color: transparent;
    color: rgb(30, 30, 30);
    cursor: pointer;
    transition: all 0.17s;
}
.add:hover{
    background-color: rgba(4, 86, 201, 0.767);
    color: white;
    border-color: transparent;
    transition: all 0.17s;
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 0px rgba(46,46,46,0.31);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(46,46,46,0.31);
    -moz-box-shadow: 0px 10px 20px 3px rgba(46,46,46,0.31);
}